:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --white0: rgb(255, 255, 255);
  --white1: rgb(250, 250, 250);
  --light-blue: #0095f6;
  --font-primary: rgb(38, 38, 38);
  --font-secondary: rgb(142, 142, 142);
  --modalRadius: 12px;
}

body > * {
  margin: 0;
  padding: 0;
  color: var(--font-primary);
}
p {
  margin: 0;
  padding: 0;
}
button {
  border: none;
  background-color: var(--light-blue);
}

@media screen and (min-width: 800px) {
  .app {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: var(--white1);
  }

  /* Header needs to be relative so likeModal can position itself*/

  header {
    grid-column: 1/6;
    grid-row: 1/2;
    border: 1px solid black;
    position: relative;
  }

  .timeline {
    grid-column: 2/5;
    border: 1px solid black;
    height: 90vh;
    overflow: scroll;
  }
  .rightSide {
    grid-column: 2/3;
    border: 1px solid black;
  }

  .post {
    background-color: var(--white0);
    border: 1px solid black;
  }
  .profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }
  .profilePic {
    width: 30px;
    border-radius: 25px;
  }
  .postPreview {
    display: flex;
    flex-direction: column;
    width: 50vw;
  }
  .timelineImg {
    max-width: 40vw;
  }
  .postHeader {
    display: flex;
    align-items: center;
  }
  .profilePicMini {
    width: 20px;
    border-radius: 25px;
  }
  .comment {
    display: flex;
    gap: 0.5rem;
    font-weight: normal;
  }
  .postMetrics {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 0.5rem;
  }
  .likeModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 40%;
    gap: 1rem;
    padding: 1rem;
    min-width: 20vw;
    border: 1px solid black;
    background-color: var(--white0);
    border-radius: var(--modalRadius);
  }
}
