:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --white0: rgb(255, 255, 255);
  --white1: rgb(250, 250, 250);
  --light-blue: #0095f6;
  --font-primary: rgb(38, 38, 38);
  --font-secondary: rgb(142, 142, 142);
  --red-heart: #ed4956;
  --modalRadius: 12px;
  --timeline-padding: 20px 0;
  --post-margin: 8px 4px 8px 8px;
  --profile-pic-dimensions: 32px;
  --font-size-description: 14px;
  --post-padding: 0 16px;
}

body > * {
  margin: 0;
  padding: 0;
  color: var(--font-primary);
}
p {
  margin: 0;
  padding: 0;
}
button {
  border: none;
  background-color: var(--light-blue);
}

/* font weight */

.primary {
  color: var(--font-primary);
  font-weight: bold;
}
.secondary {
  color: var(--font-secondary);
}
.hoursAgo {
  letter-spacing: 0.2px;
  font-size: 10px;
  line-height: 12px;
}
.postDescription {
  font-size: var(--font-size-description);
}
.lowerPostSection {
  padding: var(--post-padding);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

@media screen and (min-width: 600px) {
  .app {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: var(--white1);
    opacity: 1;
  }

  /* Header needs to be relative so likeModal can position itself*/

  header {
    grid-column: 1/6;
    grid-row: 1/2;
    border: 1px solid black;
    position: relative;
  }

  .timeline {
    grid-column: 2/5;
    border: 1px solid black;
    height: 90vh;
    overflow: scroll;
    padding: var(--timeline-padding);
  }
  .rightSide {
    grid-column: 2/3;
    border: 1px solid black;
  }

  .post {
    background-color: var(--white0);
    border: 1px solid black;
  }
  .profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }
  .profilePic {
    width: var(--profile-pic-dimensions);
    height: var(--profile-pic-dimensions);
    border-radius: 50%;
  }
  .postPreview {
    display: flex;
    flex-direction: column;
    width: 50vw;
  }
  .timelineImg {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .postHeader {
    display: flex;
    align-items: center;
    margin: var(--post-margin);
    gap: 0.4rem;
  }
  .profilePicMini {
    width: 20px;
    border-radius: 25px;
  }
  .comment {
    display: flex;
    gap: 0.5rem;
    font-weight: normal;
  }
  .postMetrics {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 0.5rem;
  }
  .likeSection {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  .likeModal {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    position: absolute;
    top: 45%;
    left: 40%;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid black;
    background-color: var(--white0);
    border-radius: var(--modalRadius);
  }
  .likeLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  /* resets SVG Buttons*/
  .heart {
    background-color: inherit;
    padding: 0;
    margin: 0;
  }
  .commentSection {
    display: flex;
    flex-direction: column;
  }
  .commentSection.collapsed {
    flex-direction: row;
  }
}
